# EditorConfig is awesome: https://EditorConfig.org
# When editorconfig supports extends, we should make use of that https://github.com/editorconfig/editorconfig/issues/236

# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf # Monitor if this has unintended consequences
insert_final_newline = true
trim_trailing_whitespace = true

# XML config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Powershell files
[*.ps1]
indent_size = 2

# Shell script files
[*.sh]
end_of_line = lf
indent_size = 2

# Markdown files
[*.md]
max_line_length = 0
trim_trailing_whitespace = false
