{
  "extends": [
    "@sorenhoyer/eslint-config-react",
    "@sorenhoyer/eslint-config-relay"
  ],
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ]
  }
}
