# When editorconfig supports extends, we should make use of that https://github.com/editorconfig/editorconfig/issues/236

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
max_line_length = 0
trim_trailing_whitespace = false
